<div class="min-h-screen px-4 md:px-8 py-8 poppins-regular">
  <h1 class="text-2xl font-bold mb-6">Danh sách sản phẩm</h1>

  <div *ngIf="loading" class="text-center py-10">Đang tải sản phẩm...</div>

  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
    *ngIf="!loading"
  >
    <div
      *ngFor="let product of products"
      class="product-card"
      (click)="viewProductDetail(product)"
    >
      <!-- IMAGE -->
      <div class="product-image">
        <img [src]="product.images?.[0]?.url" class="main-image" />
        <img
          *ngIf="product.images?.[1]"
          [src]="product.images?.[1]?.url"
          class="hover-image"
        />
      </div>

      <!-- TITLE + PRICE -->
      <div class="product-info">
        <h2 class="product-name">{{ product.name }}</h2>
        <p class="product-price">{{ product.price | number : "1.0-0" }}đ</p>

        <button
          (click)="addToCart(product); $event.stopPropagation()"
          class="add-to-cart"
        >
          Thêm vào giỏ hàng
        </button>
      </div>
    </div>
  </div>
</div>
